.appHeaderButton {
  padding: 12px 28px;
  color: #000;
  border: 1px solid rgba(31, 31, 31, 0.32);
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16;
  font-weight: 400;
}
.appHeaderButton:hover {
  background-color: #f5f5f50f;
}
.prevButton {
  cursor: pointer;
  padding: 12px 28px;
  background: #f5f5f5;
  border-radius: 100px;
  color: #000;
}
.prevButton:hover {
  background: #d3d3d3;
}
.nextButton {
  cursor: pointer;
  padding: 12px 28px;
  background: #2DBE61;
  border-radius: 100px;
  color: #fff;
}
.nextButton:hover {
  background-color: #209b4d;
}