.courseMainCard {
  /* height: 200px; */
  padding: 15px;
}
.courseInfoCard {
  padding: 28px;
  height: 100%;
}
.courseDescriptionCard {
  padding: 28px 80px;
}
.courseImage {
  text-align: center;
  position: relative;
  background-image: url('/img/customer.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.courseButton {
  color: #fff;
  cursor: pointer;
  background-color: #2DBE61;
  border-radius: 20px;
  padding: 10px 80px;
}
.courseButton:hover {
  background-color: #209b4d;
}
.courseProgramCard {
  padding: 15px;
}
.courseProgramItem {
  border-radius: 24px;
}
.goToLesson {
  cursor: pointer;
  padding: 12px 28px;
  color: #000;
  border: 1px solid rgba(31, 31, 31, 0.32);
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 100px;
  font-size: 16;
  font-weight: 400;
}

@media screen and (min-width: 425px) {
  .courseMainCard {
    /* height: 400px; */
    padding: 35px;
  }
  .courseProgramCard {
    padding: 35px;
  }
}

@media screen and (min-width: 768px) {
  .courseMainCard {
    /* height: 600px; */
    padding: 50px;
  }
  .courseProgramCard {
    padding: 50px;
  }
}
